@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Press+Start+2P&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    /*font-family: 'Press Start 2P',cursive;*/
}
html,body{
   background-color:rgb(155, 155, 155);
}
$mainGrey:rgb(222,222,222);
$holyPink:rgb(191, 92, 204);
.grey {
    background-color: $mainGrey;
}
.holyPink{
    background-color: $holyPink;
}

button{
    outline:none;
    border:none;
    background-color: inherit;
    cursor:pointer;
    color:inherit;
    transition:transform .2s;
    &:hover{
        transform:scale(1.075)
    }
    
}
input[type='radio'] { 
    transform: scale(1.5);
    margin:0.25rem; 
}
